#container
{
    width: 600px;
    height:720px;
    background-image: radial-gradient(#ecc6d9,purple);
	color: black;
        border: inset  #8a00e6 15px;
        padding: 10px;
        text-align: center;
}
#headingFont
{
    font-family: 'Rammetto One', cursive;
    text-align: center;
}

#formDiv
{
    text-align: center;
}

.formInputs
{
    margin-bottom: -2px;
    margin-top: 10px;
}

button{
    text-align: center;
    height: 40px;
    font-size: 15px;
    margin-top: 25px;
    
    border-radius: 10px;
}
img {
   width: 90px;
   height: 90px;
   float: left;
}
#idCard {
    margin-top: 35px;
   margin-left: 95px;
   border: 5px solid black;
   border-radius: 25px;
   background-image: radial-gradient(#ffd9b3,#ffb366);
   font-family: 'Ubuntu', sans-serif;
   height: 14em;
   width: 25em;
}
